<div
  (mouseenter)="setShowFillFavorite()"
  (mouseleave)="setHideFillFavorite()"
  (click)="onFavoriteClick()"
  class="h-[3rem]"
>
  <app-img-icon
    *ngIf="isPreview && !showPreviewFillFavorite"
    imgName="favirate_empty"
    [height]="1.5"
  ></app-img-icon>

  <app-img-icon
    *ngIf="isPreview && showPreviewFillFavorite"
    imgName="favirate_fill"
    [height]="1.5"
  ></app-img-icon>

  <app-img-icon
    *ngIf="showBigFillFavorite"
    imgName="favirate_fill"
    [height]="2"
  ></app-img-icon>
  <p class="ml-0.5">135</p>
</div>
