

<!--心靈雞湯的標語-->
<div class="flex justify-center chicken-soup py-2 text-blue-700 font-bold text-xl">
    <app-typing-text [typingText]="chickenSoup"></app-typing-text>
</div>

<!--網頁 title-->
<div class="w-full bg-blue-50 h-24 px-8 py-4 flex justify-between text-base">

    <div class="flex h-full items-center">
        <app-img-icon (click)="goToHomePage()" [height]="5"></app-img-icon>
        <div class="w-[30rem]">
            <app-search-input></app-search-input>
        </div>
        
    </div>

    <div class="flex h-full items-center justify-end" >
        
        <div class="hover:bg-emerald-300 p-1 rounded-full" >
            <app-img-icon *ngIf="!user.isLogin" (click)="login()" imgName="login" [height]="4"></app-img-icon>
        </div>

        
        <p class="m-2" *ngIf="user.isLogin" >Hi {{user.name}}</p>

        <div class="hover:bg-emerald-300 p-1 rounded-full" >
            <app-img-icon *ngIf="user.isLogin" (click)="logout()" imgName="logout" [height]="4"></app-img-icon>
        </div>

        <p class="m-2" *ngIf="user.isLogin" (click)="addProduct()">addProduct</p>
        <p class="m-2" *ngIf="user.isLogin" (click)="deleteProduct()">test del</p>
        
        <p class="m-2" *ngIf="isUseMockData" (click)="toggleUseMockData()">Mock Data</p>
        <p class="m-2" *ngIf="!isUseMockData" (click)="toggleUseMockData()">True Data</p>
    </div>
    
    

</div>



<router-outlet></router-outlet>
