<div>

    <!--    <button (mouseenter)="mouseEnter()"-->
    <!--            (mouseleave)="mouseLeave()"  -->
    <button (mouseenter)="moveToBtn()"
            (mouseleave)="leaveToBtn()"
            [ngClass]="{'w-32': bSize === 'small',
                        'w-56': bSize === 'middle',
                        'w-80': bSize === 'big',
                       }"
            class="rounded-full bg-emerald-200 p-1 drop-shadow-lg hover:bg-emerald-600 relative z-50">

        <ng-content></ng-content>


        <div class="relative w-full h-1 flex justify-center">
            <div *ngIf="showTip && tipContent!=='' " class="flex justify-center relative top-3" (click)="$event.stopPropagation()">

                <div>
<!--                    使用以下連結 讓箭頭不為實心的-->
<!--                    https://medium.com/ui-ux%E7%B7%B4%E5%8A%9F%E5%9D%8A/%E5%A6%82%E4%BD%95%E7%94%A8css%E7%B9%AA%E8%A3%BD%E4%B8%89%E8%A7%92%E5%BD%A2-71478539fb1b-->
                    <div class="flex justify-center">
                        <div class="toolTipTop">
                        </div>
                    </div>

                    <div class="border-2 border-slate-300 bg-amber-50"
                         [ngClass]="{'w-24': bSize === 'small',
                                     'w-44': bSize === 'middle',
                                     'w-60': bSize === 'big',
                                    }">
                        {{tipContent}}
                    </div>
                </div>
            </div>
        </div>
    </button>
</div>
